/DS-Clue/.idea/
/DS-Clue/gradle/
/DS-Clue/.gradle/
/DS-Clue/gradlew
/DS-Clue/gradlew.bat
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
/DS-Polynomial/.gitignore
/DS-Polynomial/gradlew.bat
/DS-Polynomial/.gradle
/DS-Polynomial/gradle
/DS-Polynomial/gradlew
/DS-Polynomial/images/Main_test.png
/DS-Polynomial/images/Main_test_rezied.png
/DS-DoubleLinkedList2/.idea
/DS-DubleLinkedList2/gradle
/DS-DubleLinkedList2/.gradle
/DS-DubleLinkedList2/.travis.yml
/DS-DubleLinkedList2/gradlew
/DS-DubleLinkedList2/gradlew.bat
/DS-DoubleLinkedList2/.gitignore
/DS-StackQueue/.travis.yml
/DS-StackQueue/gradle
/DS-StackQueue/.idea
/DS-StackQueue/.gradle
/DS-StackQueue/gradlew
/DS-StackQueue/gradlew.bat
/DS-StackQueue/build
/DS-RecursionTrees/.travis.yml
/DS-RecursionTrees/build
/DS-RecursionTrees/.gradle
/DS-RecursionTrees/gradlew
/DS-RecursionTrees/gradlew.bat
/DS-RecursionTrees/.idea
/DS-RecursionTrees/.gitignore
/DS-RecursionTrees/gradle
/DS-RecursionTrees/.gitattributes